@model WebApplication2.Models.Todo

@{
    /**/

    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .textarea {
        width: 100%;
        max-width: 100%;
    }


    table {
        border-collapse: collapse;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
    }
</style>


@*<h2>Email</h2>*@


@using (Html.BeginForm("Send", "Todoes"))
{

    <table>
        <tr>
            <td class="col-md-2">
                <h2>Email</h2>
            </td>
            <td>
                <input type="submit" value="Send" name="Send" onclick="return empty()">
                <input type="submit" value="Cancel" name="Cancel" onclick="return goBack()">
            </td>
        </tr>

    </table>


    <table style="width:100%">
        <tr>
            <td class="col-md-1">
                <div>To:</div>
            </td>
            @*<td class="col-md-11">
                <div>
                    <textarea name="txtto" id="txtto" style="height:25px; min-width: 100%;" required="required"></textarea>
                </div>
            </td>*@
            @*<td class="col-md-11">
                    @*<textarea readonly style="height:25px;min-width: 100%">@TempData["OSRddl"]</textarea>
                    @Html.DropDownListFor(m => m.Owner, new SelectList(ViewBag.OSRsddl, "Owner", "Text"), new { id = "Type", @class = "form-control" })
                </td>*@
            <td class="col-md-11">
                <select name="dropdown">
                    <option>cfinn@sjassoc.com</option>
                    <option>drysz@sjassoc.com</option>
                    <option>jangelo@sjassoc.com</option>
                    <option>jbreda@sjassoc.com</option>
                    <option>jcheung@sjassoc.com</option>
                    <option>jland@sjassoc.com</option>
                    <option>jmcevoy@sjassoc.com</option>
                    <option>jtilley@sjassoc.com</option>
                    <option>kkumar@sjassoc.com</option>
                    <option>mwachtel@sjassoc.com</option>
                    <option>rnogueira@sjassoc.com</option>
                    <option>rweintraub@sjassoc.com</option>
                    <option>shanley@sjassoc.com</option>
                    <option>tfaherty@sjassoc.com</option>
                    <option>tlucey@sjassoc.com</option>
                    <option>wlondon@sjassoc.com</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                <div>Subject:</div>
            </td>
            <td class="col-md-11">
                <textarea readonly style="height:25px;min-width: 100%">@TempData["subject"]</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                <div>Message:</div>
            </td>
            <td class="col-md-11">
                <textarea name="txtbody" id="txtbody" style="height:200px; min-width: 100%;"></textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                <div>Details</div>
            </td>
            <td class="col-md-11">
                <textarea readonly style="height:300px;min-width: 100%">@TempData["message"]</textarea>
            </td>
        </tr>
    </table>
    <br />
    <br />
    @*<input type="submit" value="Send" name="Send" onclick="location.href='@Url.Action("Send", "Strategy")'">*@
    @*<input type="submit" value="Send" name="Send" onclick="return empty()">
        <input type="submit" value="Cancel" name="Cancel" onclick="return goBack()">*@

    <script>
        function goBack() { window.history.back(); }

    </script>

    <script>
    function empty()
    {
        var x;
        x = document.getElementById("txtsubject").value;
        if (x == "")
        {
            return false;
        }
        else
        {
            return @Url.Action("Send", "Todoes");
        };
        }
    </script>

}




