@model WebApplication2.Models.Todo

@{
    /**/

    ViewBag.Title = "Updateemail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .textarea {
        width: 100%;
        max-width: 100%;
    }


    table {
        border-collapse: collapse;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
    }
</style>


@*<h2>Email</h2>*@


@using (Html.BeginForm("Send", "Todoes"))
{

    <table>
        <tr>
            <td class="col-md-2">
                <h2>Update Email</h2>
            </td>
            <td>
                <input type="submit" value="Send" name="Send" onclick="return empty()">
                <input type="submit" value="Cancel" name="Cancel" onclick="return goBack()">
            </td>
        </tr>

    </table>


    <table style="width:100%">
        <tr>
            <td class="col-md-1">
                <div>To:</div>
            </td>
            <td class="col-md-11">
                <div>
                    <textarea name="txtto" id="txtto" style="height:25px; min-width: 100%;" required="required">@TempData["OSREmail"]</textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                <div>Subject:</div>
            </td>
            <td class="col-md-11">
                @*<input type="text" name="txtsubject" id="txtsubject" style="min-width: 100%" required="required" />*@
                <textarea readonly style="height:25px;min-width: 100%">@TempData["subject"]</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                <div>Message:</div>
            </td>
            <td class="col-md-11">
                <textarea name="txtbody" id="txtbody" style="height:200px; min-width: 100%;"></textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                <div>Details</div>
            </td>
            <td class="col-md-11">
                <textarea readonly style="height:300px;min-width: 100%">@TempData["message"]</textarea>
            </td>
        </tr>
    </table>
    <br />
    <br />
    @*<input type="submit" value="Send" name="Send" onclick="location.href='@Url.Action("Send", "Strategy")'">*@
    @*<input type="submit" value="Send" name="Send" onclick="return empty()">
        <input type="submit" value="Cancel" name="Cancel" onclick="return goBack()">*@

    <script>
        function goBack() { window.history.back(); }

    </script>

    <script>
    function empty()
    {
        var x;
        x = document.getElementById("txtsubject").value;
        if (x == "")
        {
            return false;
        }
        else
        {
            return @Url.Action("Send", "Todoes");
        };
        }
    </script>

}




